.loader {
  position: absolute;
  background-color: #262a33;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.3s;
}

.hide {
  visibility: hidden;
}

.spinner {
  margin-top: 45%;
}

.button {
  width: 100%;
  background-color: #00dcff;
}

.submit {
  float: right;
  margin-top: 8px;
}